<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="javascript/dropdown.js"></script>
  </head>


  <body>
    <nav>
<!-- <div class="container">
  <h1 class="title">Dropdown Menu</h1>
  <ul>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">First Menu <i class="icon-arrow"></i></a>
      <ul class="dropdown-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/resource">Resouces</a></li>
      <li><a href="/experiment.mb">Experiments</a>
      <li><a href="/hurdles.mb">Hurdles</a>
      </ul>
    </li>
</div>
-->
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<!--<li><a href="/cv">CV</a></li> -->
<li><a href="/blog">Blog</a></li>
<li><a href="/resource">Resouces</a></li>
<li><a href="/experiment/test.md">Experiments</a>
<li><a href="/hurdles">Hurdles</a>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:noemail@gmail.com">email</a></li>
   <li><a href="https://github.com/achrine">github</a></li>
   </ul>
  </footer>
  </body>


</html>
